@@ -10,10 +10,12 @@ body {
    margin: 0;
}
.login, .register {
    width: 400px;
    width: 500px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    box-shadow: 8px 8px 32px 0 rgba(255, 255, 255, 0.7);
    border-radius: 90px 0px 90px 0px;
    border: 7px solid #000000;
    margin: 100px auto;    
}
.login h1, .register h1 {
    text-align: center;
@ -50,28 +52,35 @@ body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    width: 60px;
    height: 50px;
    background-color: #3274d6;
    border-radius: 30px 0px 0px 30px;
    color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 310px;
    width: 370px;
    height: 50px;
    border: 1px solid #dee0e4;
    border-radius: 0px 30px 30px 0px;
    margin-bottom: 20px;
    padding: 0 15px;
}
.login form input[type="submit"], .register form input[type="submit"] {
    width: 100%;
    float:center;
    width: 120px;
    font-size: 20px;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    margin-top: 10px;
    margin-bottom:20px;
    background-color: #73c4ff;
    border-radius: 30px;
    border: 1px solid #66add6;
    box-shadow: 2px 4px 16px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    transition: background-color 0.2s;    
}
.login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
    background-color: #2868c7;